<!-- All -->
body {
  font-family: 'Garamond', serif;
}

li {
  font-size: 18px;
  padding: 5px;
}

p {
  font-size: 16px;
}

<!-- Triumphs -->
.center {
  text-align: center;
}

.title {
  color: white;
  text-align: center;
  font-size: 55px;
}

.header {
  text-align: left;
  font-size: 30px;
}

.div {
  padding-left: 150px;
}

.separate {
  padding-left: 0px;
  height: 5px;
  border: 1px;
  background-color: gold;
}

.former {
  font-size: 40px;
  text-align: center;
  color: black;
  background-color: gold;
}

.backImg {
  background-image: url('award.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

<!-- Navigation Bar -->
.nav {
  text-align: right;
  background-color: black;
  height: 60px;
}

.button {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

<!-- Summer Camps -->
.tablesize1 {
	   width: 250px;
	   height: 200px;
     background-image: url(https://www.ipsdsummerrobotics.com/uploads/b/a5e5eb20-54e9-11e9-965b-dd84a8509f89/20190712_145621.jpg?width=400&height:400);
}

.tablesize2 {
	   width: 250px;
	   height: 200px;
     background-image: url(https://i.postimg.cc/T1x0wtZP/Summer-Camp3.jpgwidth=500&height:500);
}

.tablesize3 {
  width: 250px;
	height: 200px;
  background-image: url(https://i.postimg.cc/LXYwfQCB/Summer-Camp1.jpgwidth=400&height:400);
}
