body {
  font-family: 'Garamond', serif;
}

li {
  font-size: 18px;
  padding: 5px;
}

p {
  text-align: center;
  font-size: 16px;
}

.title {
  color: white;
  text-align: center;
  font-size: 55px;
}

.header {
  text-align: left;
  font-size: 30px;
}

.div {
  padding-left: 150px;
}

.separate {
  padding-left: 0px;
  height: 5px;
  border: 1px;
  background-color: gold;
}

.former {
  font-size: 40px;
  text-align: center;
  color: black;
  background-color: gold;
}

.backImg {
  background-image: url('award.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  text-align: right;
  background-color: black;
  height: 60px;
}

.button {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
